*:hover{
	background-color: yellow;
}
body{
	background-image: url(images/background.gif);
}
main{
	background: white;
	border: 10px white solid;
	margin-left: 10%;
	margin-right: 10%;
}
header{
	text-align: right;
	background: #A8F0F0;
}
img#spatula{
	float: right; 
	width: 100px;
	margin: 5px;
}
.orange{
	font-size: 14pt;
}
#blue{
	border: 4px #C2E9E9 solid;
	padding: 5px;
	margin-top: 10px;
	background: #E8FBFB;
	overflow: hidden;
}
img#monsters{
	float: right;
}
.violet{
	border-bottom: 2px blue, dashed;
}